# Environment variables
.env

# Python & Django
*.pyc
__pycache__/
*.sqlite3
staticfiles/
media/
.venv/
env/
venv/

# Local database backups
*.sql
*.backup

# Django logs
logs/
*.log

# VS Code
.vscode/